.navbar{
    width: 100vw;
    max-width: 75rem;
    height: 5rem;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    margin-top: 5px;
}

.navbar-logo{
    object-fit: cover;
    height: 100px;
}

.desktopMenuListItem {
    gap: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
}