.navbar{
    width: 100vw;
    max-width: 75rem;
    height: 5rem;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    margin-top: 5px;
}

.navbar-logo{
    object-fit: cover;
    height: 100px;
    filter: drop-shadow(0 0 0.75rem crimson);
}

.desktopMenu {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.desktopMenuListItem {
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    color: white;
}

.desktopMenuListItem:hover {
    color: #bdbdbd;
    padding-bottom: 0.5rem;
    border-bottom: #bdbdbd solid 2px;
}